*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Debug logs
log_batch_*.json
**/log_batch_*.json
*.log

# Large inspection report
index.html

# IDE specific
*.hprof
